.area_backoffice {
  text-align: center;
  min-height: 100vh;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backoffice-background{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 0;
  transition: background-image 1s ease-in-out;
}

.titulo_backoffice {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #ff7b00;
  text-align: center;
  margin-bottom: 2rem;
  background: #151515ef;
  display: inline-block;
  padding: 0.5em 1.2em;
  border-radius: 12px;

  /* animation: glowColor 4s ease-in-out infinite alternate; */
}

.container_back{
  border: 0.4rem solid #82C748;
  border-radius: 10px;
  margin-top: 1rem;
  width: 65rem;
  padding: 0.5rem 0.8rem; 
  background-color: #151515ef;
  justify-self: center;
}

.container_back h2{
  font-size: 2rem;
  color: #ff7b00;
}
  

.botoes-container_backoffice {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  justify-content: center; 
  gap: 40px; 
  margin-bottom: 20px;
}


.botao_backoffice {
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #ff7f11;
  color: white;
  text-shadow: 0 0 3px #FFF;
  display: block;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  margin-top: 20px;
}

.botao_backoffice:hover{
  background-color: #82C748;
  transition: background-color 0.4s ease;
}

/* @keyframes glowColor {
  0% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #75c734,
      0 0 20px #75c734,
      0 0 30px #75c734,
      0 0 40px #75c734;
  }
  100% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #ff7b00, 
      0 0 20px #ff7b00,
      0 0 30px #ff7b00,
      0 0 40px #ff7b00;
  }
} */

.popup-overlay {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; justify-content: center; align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
